header.header
    h1 The Pepo Stock Exchange
    h2#clock 
    if user
        nav.navigation
            ul
                li
                    a(href="/") Home
                li
                    a(href="/stocks") Stocks
                li
                    a(href="/leaderboard") Leaderboard
                li
                    a(href='/trade') Trade
                li
                    a(href="/about") About
                if user && user.isAdmin
                    li
                        a(href="/admin") Dashboard
                li
                    a(href="/auth/logout") Logout

    link(rel="stylesheet", href="/css/style.css")

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
        $(document).ready(function() {
            function updateClock() {
                const now = new Date();
                const hours = now.getHours().toString().padStart(2, '0');
                const minutes = now.getMinutes().toString().padStart(2, '0');
                const seconds = now.getSeconds().toString().padStart(2, '0');
                const time = `${hours}:${minutes}:${seconds}`;

                const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                const monthIndex = now.getMonth();
                const day = now.getDate().toString().padStart(2, '0');
                const year = now.getFullYear();
                const date = `${months[monthIndex]} ${day}, ${year}`;

                const dateTime = `${time} | ${date}`;
                $('#clock').text(dateTime);
            }

            setInterval(updateClock, 1000);
            updateClock(); // Initial call to set the clock immediately
        });
