extends layout

block content

  .main-page.page
    .column.left
      .card
        h3 Test Left Sidebar
        .card-body 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ultrices nunc. Curabitur eleifend velit eu nisl pellentesque venenatis. Mauris vitae luctus lectus, id dictum magna. Aenean egestas urna eu elementum suscipit. Curabitur vitae gravida ipsum. Aenean nec elit ut eros tempor varius. Sed tristique pharetra tortor, tincidunt tempus ante fringilla nec. Aliquam vitae congue enim. Sed ultricies sem eget tristique iaculis. Aenean consectetur, augue sed pretium elementum, ligula neque tincidunt tellus, ac vehicula libero risus pretium quam. 
      .card 
        h3 Test Left Sidebar
        .card-body
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ultrices nunc. Curabitur eleifend velit eu nisl pellentesque venenatis. Mauris vitae luctus lectus, id dictum magna. Aenean egestas urna eu elementum suscipit. Curabitur vitae gravida ipsum. Aenean nec elit ut eros tempor varius. Sed tristique pharetra tortor, tincidunt tempus ante fringilla nec. Aliquam vitae congue enim. Sed ultricies sem eget tristique iaculis. Aenean consectetur, augue sed pretium elementum, ligula neque tincidunt tellus, ac vehicula libero risus pretium quam.
    .column.middle 
      h1 Welcome to the Pepo Stock Exchange
      if news && news.length
        each article in news
          .card  
            h3 #{article.title}
            if article.thumbnail
              img(src=article.thumbnail)
            p #{article.content}
            p.meta Written by: #{article.author} on #{new Date(article.timestamp).toLocaleDateString()}
            if article.isFeatured
              span Featured
      else
        p No news articles available.

    .column.right 
      .card
        h3 Test Right Sidebar
        .card-body
          
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ultrices nunc. Curabitur eleifend velit eu nisl pellentesque venenatis. Mauris vitae luctus lectus, id dictum magna. Aenean egestas urna eu elementum suscipit. Curabitur vitae gravida ipsum. Aenean nec elit ut eros tempor varius. Sed tristique pharetra tortor, tincidunt tempus ante fringilla nec. Aliquam vitae congue enim. Sed ultricies sem eget tristique iaculis. Aenean consectetur, augue sed pretium elementum, ligula neque tincidunt tellus, ac vehicula libero risus pretium quam. 

