extends layout

block content
  meta(name="csrf-token" content=token)
  script.
    const shopData = !{JSON.stringify(shopData)}; // Make shopData available to client-side JS

  .page
    h1.title Shop
    .user-info
      p Your balance: $<span id="user-balance">#{balance.toLocaleString('en-US')}</span>
      p Current Title: #{title} 

    .shop-container
      if shopData.length
        table.shop-table
          thead
            tr
              th.title-header Title
              th.title-header Level
              th.title-header Price
          tbody.shop-body
            each item in shopData
              tr
                td.shop-data= item.title
                td.shop-data
                  img(src=`images/Level${item.level}.png`, alt=`Image for Level ${item.level}`, style="max-height:60px; margin: auto;")
                td.shop-data $<span class="price">#{item.price.toFixed(2)}</span>
                td.shop-data
                  button.purchase-button(data-level=item.level) Buy

    script(src="/javascripts/shop.js")
