extends layout

block content
  meta(name="csrf-token" content=token)
  meta(name="balance" content=balance)
  meta(name="assets_value" content=assets_value)
  script.
    const allStocks = !{JSON.stringify(allStocks)};
  script(src="/javascripts/trade.js")
  
  .page
    h1.title Trade
    .trade-container
      .trade-column
        h3 Welcome, #{user.username}
        if balance
          strong.asset-title Liquid Assets: 
          p.asset-value $<span id="balance"></span>
          strong.asset-title Invested Assets: 
          p.asset-value $<span id="investment"></span>

      
      if portfolio.length
        .trade-column
          h3 Portfolio
          table(style="margin:0;").portfolio-table
            thead
              tr
                th.portfolio-header Stock Symbol
                th.portfolio-header Quantity
                th.portfolio-header Price
            tbody.portfolio-body
              each item in portfolio
                tr
                  td.portfolio-data= item.stock_symbol
                  td.portfolio-data= item.quantity
                  td.portfolio-data= item.price.toFixed(2)

      .trade-column
        h3 Trade
        form.transaction-form
          label(for="stockSymbol" class="form-label") Stock Symbol:
          .dropdown
            input(type="text" id="stockSymbol" name="stockSymbol" class="dropdown-input" required autocomplete="off" oninput="filterStocks()")
            .dropdown-content#dropdown-content

          label(for="stockPrice" class="form-label") Stock Price: 
          br
          input(type="text" id="stockPrice" name="stockPrice" class="form-input" readonly)
          br

          label(for="numberOfShares" class="form-label") Number of Shares:
          br
          input(type="number" id="numberOfShares" name="numberOfShares" step="1" class="form-input" min="1")
          br

          label(for="totalPrice" class="form-label") Total Price:
          br
          input(type="text" id="totalPrice" name="totalPrice" class="form-input" readonly)
          br

          button(type="button" id="buyButton" class="form-button") Buy
          button(type="button" id="sellButton" class="form-button") Sell

    
